<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {%load staticfiles%}
        <link rel="stylesheet" href="{% static 'jobs_search/Semantic-UI-CSS-master/semantic.min.css'%}">
        <link rel="stylesheet" href="{% static 'jobs_search/Semantic-UI-CSS-master/semantic.css'%}">
        <script type="text/javascript" src="{% static 'jobs_search/Semantic-UI-CSS-master/semantic.js'%}"></script>
        <script type="text/javascript" src="{% static 'jobs_search/Semantic-UI-CSS-master/semantic.min.js'%}"></script>

   <!--      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.13/semantic.min.css"> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/dropdown.js">
        </script>

        <script type="text/javascript">
        $('select.dropdown')
        .dropdown()
        ;
        </script>



    </head>
    <body>
        <div class="ui pointing large fixed menu">
          <a class="item" href="{% url 'jobs_search:index'%}" style='color:#21BA45'>
            <strong>JOBS</strong>
          </a>
          {% if request.user.is_authenticated%}
          <a class="item" href="{% url 'jobs_search:create'%}">
            Add New
          </a>
          {%endif%}
          {% if not request.user.is_authenticated%}
          <a class="item" href="{% url 'jobs_search:login'%}">
            Add New
          </a>
          {%endif%}
          <div class="right menu">

            {%if not request.user.is_authenticated%}
            <div class="item">
                <div class="ui buttons">
                    <a class="ui positive button" href="{%url 'jobs_search:login'%}">Sign in</a>
                    <div class="or"></div>
                    <a class="ui positive button" href="{%url 'jobs_search:register'%}">Sign up</a>
                </div>
            </div>
            {%endif%}

            {%if request.user.is_authenticated%}
                <div class="item">
                    <a style='color:black' href="{% url 'jobs_search:list_annonces'%}">
                    {{request.user.username.upper}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{%url 'jobs_search:logout'%}" style='color:black'><i class="sign out  big icon"></i></a>
                </div>
            {%endif%}



        </div>
        </div>
        <br><br><br>

    {%block body%}
    {%endblock%}

    </body>
</html>
